html, body { background-color:#101010; width: 100%; height: 100%; margin: 0; }
html { overflow: hidden; }
body { overflow: hidden; }
.search-input { position:absolute; left: 1rem; top: 1rem; right: 1rem; z-index: 10;}
.subzone-border { stroke-width: 1; fill: transparent; stroke: #ffffff80; }
.actor, .spawn { stroke: #000000; stroke-width: 10; }
.actor-type-1 { stroke: #eb0000; }
.actor-type-2 { stroke: #5d5dfe; }
.actor-type-3 { stroke: #018801; }
.actor-type-4 { stroke: #038282; }
.actor-type-5 { stroke: #b25f01; }
.gizmo-type-4 { stroke: #0ff; }
.spawn { stroke: #747474; }
.sno-name-Dungeon-Location-0 { stroke: #fff; }
.spawn-type-UberSubzone-Chest-t1 { stroke: #800080; }
.spawn-type-UberSubzone-Chest-t2 { stroke: #9e009e; }
.spawn-type-UberSubzone-Chest-t3 { stroke: #ff00ff; }
.spawn-type-UberSubzone-Harbinger { stroke: #ffff00; }
.popup-box {
  position: absolute;
  width:max-content;
  height:max-content;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;
  margin-left: 25px;
  margin-top: 25px;
}

svg {
  position: relative;
}

path:hover + .popup-box {
  display: block;
  position: absolute;
}

/* Style the slider container and content */
.slider-container {
  display: block;
  position: absolute;
  top: 400px;
  right: -300px; /* Initially hidden offscreen */
  width: max-content;
  height: max-content;
  z-index: 10;
  background-color: #f1f1f1;
  transition: right 0.3s ease;
}

.slider-content {
  padding: 20px;
}

/* Style path data */
.path-data {
  font-weight: bold;
}

/* Close button position */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Close button styling on hover */
.close-btn:hover {
  color: red;
}